<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID19: US State Data</title>
  </head>
  <body>
    <h1>Data </h1>
    <p>Download most recent data: <a href="states.csv">CSV</a>
    <p>Google Spreadsheet with the data <<ADD LINK HERE>>

    <h1>State Data Sources</h1>
    <ul style="columns: 3; width: 80%; list-style-type: none;">
      {% for state in sources %}
      <li><b>{{ state }}</b>
        <ul>
          {% for query in sources[state] %}
          <li><a href="{{query['url']}}">
              {{ query['desc'] if query.get('desc') else 'link' }}
          </a></li>
          {% endfor %}
      </ul></li>
      {% endfor %}
    </ul>
  </body>
</html>
