<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID19: US State Data</title>

    <style>
      table {
        border-collapse: collapse;
        width: 80%;
      }

      table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      table tr:nth-child(even){background-color: #f2f2f2;}
      table tr:hover {background-color: #ddd;}

      table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4C4C50;
        color: white;
      }
    </style>

  </head>
  <body>
    <h1>Data </h1>
    <p><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRdaMJLlt8mnqz3CPFazU_2STWkKCgoxdGe-F6kFevURqU6eTg4tTul8Zj7n6AmSWUDW7Q5RVKfkIYt/pubhtml?gid=900391523&single=true">Google Spreadsheet with the data (humane readable timestamps)</a>
      <br/>
      Google has an option to download CSV for published spreadsheets.
    </p>

    <h1>State Data Sources</h1>
    <table id="data_sources">
      <tr>
        <th>State</th>
        <th>Query Links</th>
      </tr>
      {% for state in sources %}
      <tr id="{{ state }}">
      <td><a name="{{ state }}"/><b>{{ state }}</b></td>
      <td>
        {% for query in sources[state] %}
        <a href="{{query['url']}}">
            {{ query['desc'] if query.get('desc') else 'link' }}
        </a><br/>
        {% endfor %}
    </td></tr>
    {% endfor %}
    </table>
  </body>
</html>
